body {
    background: #FEF9EF;
    font-family: "Poppins", sans-serif;
    color: black;
}

a {
    color: #2E8BC0;
}


/* Start Main Navigation */

.navbar-custom-invisible {
    background-color: rgba(33, 33, 33, 0.0);
}


/* End Main Navigation */


/* Start login page */

#font {
    color: #2E8BC0;
}

#font2 {
    color: #05445E;
}

#postion {
    position: absolute;
    left: 400;
    width: 400px;
}

.mainWindow {
    height: 500px;
    width: 700px;
    margin: auto;
    margin-top: 100px;
    background-color: #FEE440;
    border-radius: 30px;
    padding: 20px;
}

h1 {
    margin: auto;
    text-align: center;
    color: black;
    font-weight: bold;
    margin-top: 20px;
}

.formWindow {
    height: 300px;
    width: 500px;
    margin: auto;
    margin-top: 50px;
}

#btnSignIn {
    background-color: #FF865E;
    height: 50px;
    width: 150px;
    color: white;
    font-weight: bolder;
    font-size: 20px;
}

#btnSignUp {
    background-color: #A2D2FF;
    height: 50px;
    width: 150px;
    color: white;
    font-weight: bolder;
    font-size: 20px;
    float: right;
}

.lblPassword {
    font-weight: bold;
    padding-top: 30px;
}

.lblUsername {
    font-weight: bold;
}


/* End login page */


/* Start Register page */

.regForm {
    background-color: #FEE440;
    border-radius: 10px;
}

.regForm .form-control {
    background-color: white;
    border: none;
}

.regForm .select {
    border: none;
}

.regForm .regBtn {
    background-color: #FF865E;
    color: white;
    font-size: medium;
}

.interestsCB {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cbContainer {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 5px;
}

.cbContainer div {
    margin: 5px;
}

.cbContainer div label {
    cursor: pointer;
}

.cbContainer div label input[type="checkbox"] {
    display: none;
}

.cbContainer div label span {
    position: relative;
    display: inline-block;
    background: #ffffff2f;
    padding: 10px 10px;
    color: #555;
    border-radius: 30px;
    transition: 0.5s;
    user-select: none;
    overflow: hidden;
}

.cbContainer div label input[type="checkbox"]:checked~span {
    background: #2E8BC0;
    color: white;
}


/* End Register page */


/* Start Profile page */

.profileForm {
    background-color: #FEE440;
    border-radius: 10px;
    width: 80%;
}

.profileForm .form-control {
    background-color: white;
    border: none;
}

.profileForm .select {
    border: none;
}

.profileForm .updateBtn {
    background-color: #FF865E;
    color: white;
    font-size: medium;
}

.select-input.form-control[readonly]:not([disabled]) {
    background-color: white;
}

#bdayPicker {
    background-color: #FFFF;
}


/* End Profile Page */