body {
  background: #fef9ef;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

section {
  padding-top: 50px;
  padding-bottom: 50px;
}

h1 {
  color: #285fa8;
  font-weight: 900;
  text-align: center;
  margin-bottom: 20px;
}

h3 {
  color: #fa9258;
  text-align: center;
  margin-bottom: 20px;
}
/*  #ff865e */
h6 {
  color: #285fa8;
  font-weight: 700;
  font-size: large;
  text-align: left;
  margin-bottom: 20px;
}

section h5 {
  text-transform: uppercase;
  font-weight: 700;
  color: #89cff0;
  text-align: center;
  margin-bottom: 20px;
}

section p {
  font-size: 16px;
  font-weight: 300;
}

#intro .col {
  justify-content: center;
  flex-direction: column;
  display: flex;
}

#intro .img-col {
  justify-content: flex-end;
  margin-top: 100px;
}

#intro img {
  max-width: 130% !important;
  width: 130%;
}

#intro .card {
  border: 1;
  border-radius: 30px;
  text-align: center;
  margin: 20px;
}

#intro2 .card {
  border: 1;
  border-radius: 30px;
  box-shadow: 11px 7px 16px #f0e294;
  margin-bottom: 100px;
}

#intro .card:hover {
  box-shadow: 11px 7px 16px #f0e294;
}

#intro .icon {
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
}

#intro2 .icon {
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
}

#box {
  border: 1;
  border-radius: 30px;
  text-align: center;
  margin: 20px;
  background-color: white;
}

.carousel-item {
  height: 32rem;
  background: #000;
  position: relative;
  color: #ff865e;
}

#pop_events {
  border: 1;
  border-radius: 30px;
  margin-bottom: 100px;
  background-color: #89cff0;
}
/*
 box-shadow: 11px 7px 16px #f0e294;
background-color: #285fa8;*/
#pop_events .container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0px;
}

.overlay-image {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-position: center;
  background-size: cover;
  opacity: 0.6;
}

#p_style {
  color: white;
  font-weight: bold;
  font-size: 100%;
}
