<link rel="stylesheet" type="text/css" href="/Content/eventdetails.css">

<div class="mainWindow">
  <div class="photoContainer"></div>
  <h1 class id="signInTitle">Event:<%= user.eventName %></h1>

  <div class="location">
    <img src="Assets/images/location_pin.png" class="img-fluid" alt="Location Pin" width="20" height="20">
    <h5 class="townLbl">Location:<%= user.city %> </h5>
  </div>
    
  <div class="tags">
    <h6><%= user.tags %></h6>
  </div>  

  <div class="descriptionContainer">
    <h6>Text Here</h6>
  </div>

<!--
  <button type="submit" class="btn" id="btnNotInterested">Not Interested</button>
  <button type="submit" class="btn" id="btnInterested">Interested</button>
-->
</div>