<link rel="stylesheet" type="text/css" href="/Content/eventdetails.css">

<div class="mainWindow">
  <div class="photoContainer"></div>
  <h1 class id="signInTitle">Event:Night of Lights</h1>

  <div class="location">
    <img src="Assets/images/location_pin.png" class="img-fluid" alt="Location Pin" width="20" height="20">
    <h5 class="townLbl">Location:Vaughan </h5>
  </div>
    
    <div class="eventTime">
    <h6>Event Start Time: 2021-11-26</h6>
     <h6>Event End Time: 2022-01-07</h6>
  </div>

 <div class="price">
    <h6>Price: 19.99</h6>
  </div>

   <div class="descriptionContainer">
    <h6> A holiday lights spectacular featuring over 1,000,000 led lights</h6>
  </div>

  <div class="tags">
    <h6>Culture  Singles</h6>
  </div>  

 
<!--
  <button type="submit" class="btn" id="btnNotInterested">Not Interested</button>
  <button type="submit" class="btn" id="btnInterested">Interested</button>
-->
</div>