<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">



<div class="container">
  <h1>
    <%= title %>
  </h1>

<link rel="stylesheet" type="text/css" href="/Content/findevents.css">


  <div class="eventWindow">
    <div class="eventHeader">
      <div class="eventCity">
        <p>City Name</p>
      </div>
    </div>
    <div class="eventWindowWrap">
      <div class="eventFilter">
        <ul>
          <li>Date</li>
          <li>Budget</li>
          <li>Location</li>
          <li>
            Number of People <br>
            <input type="range" min="1" max="1000" value="50" class="slider" id="participantsRange">
          </li>
        </ul>
      </div>


      <div id="FindEventsCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel"> 
        <div class="carousel-inner">
          <% for (let count = 0; count < events.length; count++) { %> 
            <div class="carousel-item">
              <div class="eventPhoto">
                <img src="Assets/carousel_images/mountain.jpeg" alt="Event Photo" />
              </div>
              <div class="container">
                <div class="eventInfo">
                  <%= events[count].eventName %>
                  <%= events[count].eventStartTime%>
                  <i class="fa fa-info" aria-hidden="true"></i>
                </div>
                <div class="eventDetails">
                <i class="fa fa-users" aria-hidden="true"> <%= events[count].description %></i>
                </div> 
              </div>
            </div>
          <%}%>
        </div>
        <div class="eventControls">
            <button class="carousel-control-prev" type="button" data-bs-target="#FindEventsCarousel" data-bs-slide="prev"><i class="fa fa-times" aria-hidden="true"></i></button>
            <button class="carousel-control-next" type="button" data-bs-target="#FindEventsCarousel" data-bs-slide="next"><i class="fa fa-heart" aria-hidden="true"></i></button>
          </div>
      </div>
      
    </div>
  </div>
</div>