<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">



<div class="container">
  <h1>
    <%= title %>
  </h1>

<link rel="stylesheet" type="text/css" href="/Content/findevents.css">


  <div class="eventWindow">
    <div class="eventHeader">
      <div class="eventCity">
        <p>City Name</p>
      </div>
    </div>
    <div class="container">
    
      <div class="eventFilter">
        <ul>
          <li>Date</li>
          <li>Budget</li>
          <li>Location</li>
          <li>
            Number of People <br>
            <input type="range" min="1" max="1000" value="50" class="slider" id="participantsRange">
          </li>
        </ul>
      </div>
    
      <div id="evImg" class="eventPhoto">
        <img src="Assets/carousel_images/mountain.jpeg" alt="Event Photo" />
        <div id="evName" class="eventInfo">
                  <%= events[0].eventName %>
                  <%= events[0].eventStartTime%>
          <i class="fa fa-info" aria-hidden="true"></i>
        </div>
        <div class="eventDetails">
          <i class="fa fa-users" aria-hidden="true"><%= events[count].description %></i>
        </div>
      </div>
       
      <div class="eventControls">
        <button class="no" onClick="<% count++;%>"><i class="fa fa-times" aria-hidden="true"></i></button>
        <button class="yes" onClick="<% count++;%>"><i class="fa fa-heart" aria-hidden="true"></i></button>
      </div>
      <% let count = 0;%>
    <%while ( count < events.length) { %> 
     <%}%>
     
    </div>
  </div>
  <script>
         function showNextEvent(){
             document.getElementById('myImage')
             .src="img/photo1.jpg";
             document.getElementById('message')
             .innerHTML="Hii! GeeksforGeeks people";
         }
      </script>
</div>