<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">



<div class="container">
  <h1>
    <%= title %>
  </h1>

<link rel="stylesheet" type="text/css" href="/Content/findevents.css">


  <div class="eventWindow">
    <div class="eventHeader">
      <div class="eventCity">
        <p>City Name</p>
      </div>
    </div>
    <div class="container">
    
      <div class="eventFilter">
        <ul>
          <li>Date</li>
          <li>Budget</li>
          <li>Location</li>
          <li>
            Number of People <br>
            <input type="range" min="1" max="1000" value="50" class="slider" id="participantsRange">
          </li>
        </ul>
      </div>    
      <div id="evImg" class="eventPhoto">
       
        <div  class="eventInfo">
          <i class="fa fa-info" aria-hidden="true"><p id = "name"><%events[0].eventName%> </p></i>
        </div>
        <div  class="eventDetails">
          <i class="fa fa-users" aria-hidden="true"><p id = "desc">OK </p></i>
        </div>
      </div>
 
       
      <div class="eventControls">
        <button id="notInterestedBtn" class="no" onClick="showNextEvent()"><i class="fa fa-times" aria-hidden="true"></i></button>
        <button id="saveBtn" class="yes" onClick="showNextEvent()"><i class="fa fa-heart" aria-hidden="true"></i></button>
      </div>
      
   
     
    </div>
  </div>
  
</div>
   <script type="text/javascript">
   
   let event1N = document.getElementById("name");
   let event1D = document.getElementById("desc");
   var counter =0;
   function showNextEvent() {
     counter++;
    event1N.innerHTML = events[counter].eventName;
    event1D.innerHTML =events[counter].eventDescription;
   
    }
   </script>