<style>
 #colour{
  background-color: #FF865E;
 }
    

</style>

<div class="container">
  <div class="row">
  
  </div>

  <form method="POST" class="mt-5 p-4 regForm">

  <!-- user picturw -->
   <input  type="file" name="image" /><br /><br />

  <!-- user bio  -->
    <h4 class="text-center mb-4">About me:</h4> 
     <div class="form-outline mb-4 col-md-12">
     <input type="text" name="userbio" id="ubio" class="form-control"></>
     <label class="form-label" for="ubio"></label>
    </div>


         <!-- username input   -->
             <% for (let profile of cont) {%>
               
              <h4 class="text-center mb-4">Name:</h4> 
                <div class="form-outline mb-4 col-md-12">
                <input class id ="colour" type="text" name="username" id="uname" class="form-control"  value="<%=username%>"> 
                  <label class="form-label" for="uname"></label>
              </div>
                <!-- 2 column grid layout with text inputs for the first and last names -->
              <div class="row mb-4">
                <div class="col">
                  <div class="form-outline">
                  <input type="text" name="fname" id="frstname" class="form-control"  value="<%=profile.fname%> "> </%>
                    <label class="form-label" for="frstname"></label>
                  </div>
                </div>
                <div class="col">
                  <div class="form-outline">
                    <input type="text" name="lname" id="lstname" class="form-control"  value="<%=profile.lname%>"/>
                    <label class="form-label" for="lstname"></label>
                  </div>
                </div>
              </div> 
            
       <%}%>

    <!-- Email input -->
    <h4 class="text-center mb-4">Location:</h4> 
    <div class="form-outline mb-4 col-md-12">
      <input type="email" name="email" id="emailAddress" class="form-control"  value="<%=profile.email%>"/> </>
      <label class="form-label" for="emailAddress"></label>
    </div>


    <!-- Edit profile button -->
    <div class="col-md-4 ms-auto me-auto pt-4">
      <button type="submit" id="submitButton" class="btn btn-block mb-4 regBtn" value="Register">Save</button>
    </div>
  </form>
</div>


